.deal {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: #1e1e27;
  margin-top: 40px;
  gap: 40px;
}

.deal-image {
  background-image: url("https://quintuslabs.github.io/fashion-cube/static/media/deal_ofthe_week.18a6bbdf.png");
  width: 504px;
  height: 540px;
  background-size: cover;
  background-position: center;
}

.deal-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  text-align: center;
  height: 450px;
}

.deal-title {
  position: relative;
  color: #282828;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.deal-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background: red;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.deal-timer {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f4f4;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

.timer h1 {
  font-size: 22px;
  margin: 0;
  color:rgb(241, 67, 67);
}

.timer h2 {
  font-size: 14px;
  margin: 0;
}

.deal-button {
  color: #fff;
  font-family: Poppins, sans-serif;
  background-color: #282828;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.deal-button:hover {
  background-color: red;
}
